.container {
  padding: 16px;
  background: #1f2937;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container:hover {
  /* background: #fff7ed; */
  background: #f97316;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #fed7aa;
}
.container:hover i {
  color: #ffedd5;
  transform: translateY(-6px);
  transition: transform 0.3s ease-in-out;
}
.container:hover p {
  font-weight: 500;
  color: #fff7ed;
}

.header {
  padding: 10px 0;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 15px;
  font-weight: 400;
  color: #f9fafb;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.header i {
  color: #9ca3af;
  font-size: 34px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
