.container {
  padding: 36px 0;
  border-bottom: 1px solid var(--gray200);
}
.special {
  padding: 36px 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 40%, var(--gray100)),
    url("/pattern.svg");
  border-bottom: 1px solid var(--gray200);
}

.header {
  margin-bottom: 0px;
}

.header h1 {
  font-size: 18px;
  font-weight: 700;
  color: #ea580c;
  color: var(--gray800);
  margin-bottom: 8px;
}

.header p {
  width: 100%;
  font-size: 16px;
  color: var(--gray600);
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .header p {
    width: 80%;
  }
}

.body {
  width: 100%;
  padding: 14px 0;
}
